.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__box {
  flex-basis: calc(100% - 20px);
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .card__box {
    flex-basis: calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  .card__box {
    flex-basis: calc(33.33% - 20px);
  }
}