<footer class="py-5 border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 mb-3">
        <nav class="nav flex-column">
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/src/participantes.html" class="nav-link p-0 text-body-secondary">Participantes</a></li>
            <li class="nav-item mb-2"><a href="/src/articulo.html" class="nav-link p-0 text-body-secondary">Artículo</a></li>
            <li class="nav-item mb-2"><a href="/src/galeria.html" class="nav-link p-0 text-body-secondary">Galería</a></li>
          </ul>
        </nav>
      </div>
  
      <div class="col-sm-8 mb-3">
        <form>
          <h5>Suscríbete a la newsletter</h5>
          <p>Si quieres estar al tanto de todas las novedades y recibir contenido exclusivo, ¡suscríbete a la newsletter!</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Correo electrónico">
            <button class="btn btn-primary" type="button">Suscribirme</button>
          </div>
        </form>
      </div>
    </div>
  
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top footer-bottom">
      <img src="/src/assets/images/logo-naranja.svg" alt="Logo de CookFest" height="40">
      <ul class="list-unstyled d-flex media-icons">
        <li><a class="media-icon-link" href="#"><i class="fa-brands fa-google-plus ms-3 media-icon"></i></a></li>
        <li><a class="media-icon-link" href="#"><i class="fa-brands fa-facebook ms-3 media-icon"></i></a></li>
        <li><a class="media-icon-link" href="#"><i class="fa-brands fa-twitter ms-3 media-icon"></i></a></li>
      </ul>
    </div>
  </div>
</footer>





