<header>
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/src/index.html">
        <img src="/src/assets/images/logo-lila.svg" alt="Logo de CookFest" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/src/participantes.html">Participantes</a></li>
          <li class="nav-item"><a class="nav-link" href="/src/articulo.html">Artículo</a></li>
          <li class="nav-item"><a class="nav-link" href="/src/galeria.html">Galería</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

